@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Press+Start+2P&display=swap');

/*  
font-family: 'DM Mono', monospace;
font-family: 'Press Start 2P', cursive; 
*/

body {
    margin: 0;
    font-family: 'DM Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

header {
    background-color: #8d8d8d;
    padding: 24px;
}

.title {
    font-size: 48px;
    margin-top: 24px;
    margin-bottom: 14px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 48px;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.hold-button {
    margin-bottom: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.buttons>button {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 0;
    font-family: 'DM Mono', monospace;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;

}

.size-label {
    width: 100%;
    text-align: center;
}

.canvas {
    width: 600px;
    height: 600px;

    background-color: #ffffff;
    border: 5px #2b2b2b solid;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
}

.current {
    margin-top: 4px;
}

input {
    -webkit-appearance: none;
    margin-top: 16px;
    background-color: #e9e9ed;
    border: 2px #696969 solid;
    height: 7px;
    border-radius: 10px;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 15px;
    border-radius: 4px;
    background-color: #E9E9ED;
    border: 2px #555555 solid;
}

input::-moz-range-thumb {
    -moz-appearance: none;
    width: 5px;
    height: 15px;
    border-radius: 4px;
    background-color: #E9E9ED;
    border: 2px #555555 solid;
}

.selected {
    border: 4px #696969 solid;
}

.shadow {
    /* x y shadow spread color */
    box-shadow: 8px 8px 10px 1px #cfcfcf;
}

footer {
    background-color: #f0f0f0;
    font-size: 30px;
    text-align: center;
}

.footer-line {
    border: 1px #616161 solid;
    margin: 0 35%;
}

.name {
    margin: 16px 0 8px 0;
}